<a href="https://colab.research.google.com/github/Humberto3280/CEO/blob/main/VerficacionArchivos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install pandas pyxlsb

Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (2.2.2)
Collecting pyxlsb
  Downloading pyxlsb-1.0.10-py2.py3-none-any.whl.metadata (2.5 kB)
Requirement already satisfied: numpy>=1.22.4 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Downloading pyxlsb-1.0.10-py2.py3-none-any.whl (23 kB)
Installing collected packages: pyxlsb
Successfully installed pyxlsb-1.0.10

In [ ]:
import pandas as pd
# Lectura en xlsb
tarifasDefinitivo = pd.read_excel('tarifasDefinitivo.xlsb', engine='pyxlsb')
#tarifas = pd.read_excel('tarifas.xlsb', engine='pyxlsb')
tarifas = pd.read_csv('Tarifas.csv')

In [ ]:
tarifasDefinitivo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 454730 entries, 0 to 454729
Data columns (total 11 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   NIU                  454730 non-null  int64
 1   ESTRATO              454730 non-null  object
 2   TIPO TARIFA          454730 non-null  object
 3   CONSUMO              454730 non-null  int64
 4   FACTURACION CONSUMO  454730 non-null  int64
 5   UBICACION            454730 non-null  object
 6   DAVIPOLA             454730 non-null  int64
 7   MUNICIPIO            454730 non-null  object
 8   NIVEL DE TENSION     454730 non-null  int64
 9   CARGA DE INVERSION   454730 non-null  int64
 10  ZE                   454730 non-null  int64
dtypes: int64(7), object(4)
memory usage: 38.2+ MB

In [ ]:
tarifas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 454730 entries, 0 to 454729
Data columns (total 11 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   NIU                  454730 non-null  int64
 1   ESTRATO              454730 non-null  object
 2   TIPO TARIFA          454730 non-null  object
 3   CONSUMO              454730 non-null  int64
 4   FACTURACION CONSUMO  454730 non-null  int64
 5   UBICACION            454730 non-null  object
 6   DAVIPOLA             454730 non-null  int64
 7   MUNICIPIO            454730 non-null  object
 8   NIVEL DE TENSION     454730 non-null  int64
 9   CARGA DE INVERSION   454730 non-null  int64
 10  ZE                   454730 non-null  int64
dtypes: int64(7), object(4)
memory usage: 38.2+ MB

In [ ]:
# Asegurarnos de que ambos DataFrames tengan las mismas columnas y tipos de datos
tarifasDefinitivo.columns = tarifasDefinitivo.columns.str.strip()
tarifas.columns = tarifas.columns.str.strip()

In [ ]:
# Asegurarnos de que ambos DataFrames tengan los mismos índices y columnas
tarifasDefinitivo = tarifasDefinitivo.set_index('NIU').sort_index()
tarifas = tarifas.set_index('NIU').sort_index()

# Reindexar ambos DataFrames para tener las mismas columnas
tarifasDefinitivo = tarifasDefinitivo.reindex(columns=tarifas.columns)
tarifas = tarifas.reindex(columns=tarifasDefinitivo.columns)

# Verificar las diferencias de índice y columnas antes de la comparación
print("Columnas en tarifas:", tarifas.columns)
print("Columnas en tarifasDefinitivo:", tarifasDefinitivo.columns)
print("Índices en tarifas:", tarifas.index)
print("Índices en tarifasDefinitivo:", tarifasDefinitivo.index)

# Comparar ambos DataFrames
comparison = tarifas.compare(tarifasDefinitivo)

# Mostrar las diferencias encontradas
print("Diferencias encontradas entre 'tarifas' y 'tarifasDefinitivo':")
print(comparison)

Columnas en tarifas: Index(['ESTRATO', 'TIPO TARIFA', 'CONSUMO', 'FACTURACION CONSUMO', 'UBICACION',
       'DAVIPOLA', 'MUNICIPIO', 'NIVEL DE TENSION', 'CARGA DE INVERSION',
       'ZE'],
      dtype='object')
Columnas en tarifasDefinitivo: Index(['ESTRATO', 'TIPO TARIFA', 'CONSUMO', 'FACTURACION CONSUMO', 'UBICACION',
       'DAVIPOLA', 'MUNICIPIO', 'NIVEL DE TENSION', 'CARGA DE INVERSION',
       'ZE'],
      dtype='object')
Índices en tarifas: Index([225309471, 225310207, 225311094, 225314435, 225315112, 225317786,
       225318563, 225321963, 225322740, 225324304,
       ...
       898767729, 898767731, 898767733, 898767735, 898767737, 898767739,
       898767741, 898767743, 898767745, 898767748],
      dtype='int64', name='NIU', length=454730)
Índices en tarifasDefinitivo: Index([225309471, 225310207, 225311094, 225314435, 225315112, 225317786,
       225318563, 225321963, 225322740, 225324304,
       ...
       898767729, 898767731, 898767733, 898767735, 898767737, 898767739,
       898767741, 898767743, 898767745, 898767748],
      dtype='int64', name='NIU', length=454730)
Diferencias encontradas entre 'tarifas' y 'tarifasDefinitivo':
          ESTRATO       MUNICIPIO
             self other      self     other
NIU
225310207     NaN   NaN     PATIA  EL BORDO
225314435     NaN   NaN     PATIA  EL BORDO
225341701     NaN   NaN     PATIA  EL BORDO
225343375     NaN   NaN     PATIA  EL BORDO
225344152     NaN   NaN     PATIA  EL BORDO
...           ...   ...       ...       ...
898766659       2     2       NaN       NaN
898766665       1     1       NaN       NaN
898766670       1     1       NaN       NaN
898766878       1     1       NaN       NaN
898766983       1     1       NaN       NaN

[431568 rows x 4 columns]

In [ ]:
# Guardar el informe de diferencias en un archivo CSV (si es necesario)
comparison.to_csv('comparacion_tarifas.csv')